header {
    background-color: #41303A;
    padding: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 3.5em;
    font-weight: 200;
    cursor: pointer;
    font-family: 'Pacifico', sans-serif;
}

header nav {
    display: felx;
    align-items: center;
}

header nav a {
    margin-right: 1.3em;
    font-size: 3em;
}

header h1, a {
    color: #E793C4;
    transition: 0.2s ease-in-out;
}

header h1:hover, a:hover {
    color: #fff;
}